# Dataset Preprocessing

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

### Importing the data

In [2]:
DATA_PATH = "../data/"

path = DATA_PATH + "Telco_customer_churn.xlsx"

#### Importing the data sheets

We import every sheet and look at the first few data points.

#### Original

In [3]:
df_orig = pd.read_excel(path, sheet_name='Telco_Churn')
df_orig.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [4]:
# df_orig.info()

#### Status

In [5]:
df_status = pd.read_excel(path, sheet_name="status")
df_status.head()

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [6]:
# df_status.info()

#### Services

In [7]:
df_services = pd.read_excel(path, sheet_name="services")
df_services.head()

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36

In [8]:
# df_services.info()

#### Location

In [9]:
df_location = pd.read_excel(path, sheet_name="location")
df_location.head()

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237
2,1658-BYGOY,1,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715
3,4598-XLKNJ,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639
4,4846-WHAFZ,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188

In [10]:
# df_location.info()

#### Population

In [11]:
df_population = pd.read_excel(path, sheet_name="population")
df_population.head()

,ID,Zip Code,Population,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,1,90001,54492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,90002,44586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,90003,58198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,90004,67852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,90005,43019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# df_population.info()

#### Demographics

In [13]:
df_demographics = pd.read_excel(path, sheet_name="demographics")
df_demographics.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1

In [14]:
# df_demographics.info()

### Concatenation

Let us concatenate the dataframes into a single dataframe as it will be easier to work with. However, we must be careful combining these datasets as we must ensure that the data attributes correspond to the same clients. We also remark that the population dataframe is different from the others as each row does not correspond to a client but an area and an agglomeration of clients. We will see later if/how we can incorporate this into our data.

Let us see for the other dataframes (excluding population) whether the customer Id's match in every row so that we can merge the data together. We see that not every dataframe has the same label for Customer ID so we first update them. We also see that all the contents of the original dataframe in contained within the four others (status, services, location and demographics).

In [15]:
df_orig.rename(columns={'CustomerID': 'Customer ID'}, inplace=True)

In [16]:
def checkID(dataframes):
    assert len(set(len(dataframe) for dataframe in dataframes)) == 1
    for i in range(len(dataframes[0])):
        for j in range(1, len(dataframes)):
            try:
                assert dataframes[0].iloc[i]["Customer ID"] == dataframes[j].iloc[i]["Customer ID"]
            except:
                print(i, j)
    return "Customer Id's match!"

dataframes = [df_status, df_services, df_location, df_demographics]
checkID(dataframes)

"Customer Id's match!"

We see that these four datasets were indeed designed and created together. Therefore, we can safely concatenate them.

In [17]:
df = pd.concat([df_status, df_services, df_location, df_demographics], axis=1, join='outer', ignore_index=False, verify_integrity=False)
df.head()

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,...,Longitude,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,...,-118.156582,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,...,-118.185237,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,...,-118.229715,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,...,-118.332639,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,...,-118.020188,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1

In [18]:
pop = pd.Series([0] * df.shape[0])
for i in range(df.shape[0]):
    pop[i] = df_population.loc[df_population["Zip Code"] == df.iloc[i]["Zip Code"], "Population"]
df["Population"] = pop

If we set `verify_integrity=True`, we'll find that we have overlapping columns: `Customer ID, Count, Quarter`. Therefore, we remove these duplicate columns from our new dataframe.

### Removing Duplicates

In [19]:
df = df.loc[:,~df.columns.duplicated()] # Removes duplicates
# df.info()

Having removed duplicates, we now have 51 variables.

We save the new dataset into a new file so that we do not have to rerun the code every time.

In [20]:
df.isnull().sum(axis=0)

Customer ID                             0
Count                                   0
Quarter                                 0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Value                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                   0
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                           0
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Lat Long                                0
Latitude                                0
Longitude                               0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Population                              0
dtype: int64

In [21]:
# df.groupby("Churn Category")["Customer ID"].nunique()

In [22]:
# df.groupby("Churn Reason")["Customer ID"].nunique()

In [23]:
# df.groupby("Churn Label")["Customer ID"].nunique()

In [24]:
# df.groupby("Customer Status")["Customer ID"].nunique()

In [25]:
# df.groupby("Churn Value")["Customer ID"].nunique()

#### Dropping Redundant columns

Remarks: Clearly the customers with the status of "Joined" have been considered as customers who are not going to churn. Decision to be made: Include or not include? We can try both. I propose leaving it for now and then trying running our algorithms at the end of the project. There is an interesting tradeoff. We would expect that removing the 450 or so customers who have only "joined" would make the features of customers who do not churn more precise and increase their importance, improving accuracy. On the other hand we are removing training instances so it may be more difficult to train certain models such as neural networks which require large amounts of data. This is already a medium-sized dataset (not that large) so removing 500 instances is not insignificant.

It is clear that we must drop some columns such as "Churn Reason", which would immediately inform our algorithms whether a customer churned or not. 

Some of the columns we drop:
- Count: Every value is equal to 1
- Quarter: Every value is equal to Q3
- Country: Every value is equal to "United States"
- State: Every value is equal to "California"
- Churn Category
- Churn Reason
- Churn Value
- Lat long: Concatenates the Lat and Long columns into one

In [26]:
df.drop(columns=["Churn Category", "Churn Reason", "Customer Status", "Churn Value", "Churn Score", "Count", "Quarter", "Lat Long", "State", "Country"], inplace=True, axis=1)

In [27]:
df["Churn Label"] = df["Churn Label"].eq('Yes').mul(1)

In [28]:
df.drop('Satisfaction Score', axis=1, inplace=True)

In [29]:
df.head().T

,0,1,2,3,4
Customer ID,8779-QRDMV,7495-OOKFY,1658-BYGOY,4598-XLKNJ,4846-WHAFZ
Churn Label,1,1,1,1,1
CLTV,5433,5302,3179,5337,2793
Referred a Friend,No,Yes,No,Yes,Yes
Number of Referrals,0,1,0,1,1
Tenure in Months,1,8,18,25,37
Offer,None,Offer E,Offer D,Offer C,Offer C
Phone Service,No,Yes,Yes,Yes,Yes
Avg Monthly Long Distance Charges,0.0,48.85,11.33,19.76,6.33
Multiple Lines,No,Yes,Yes,No,Yes
Internet Service,Yes,Yes,Yes,Yes,Yes
Internet Type,DSL,Fiber Optic,Fiber Optic,Fiber Optic,Fiber Optic
Avg Monthly GB Download,8,17,52,12,14
Online Security,No,No,No,No,No
Online Backup,No,Yes,No,Yes,No
Device Protection Plan,Yes,No,No,Yes,No
Premium Tech Support,No,No,No,No,No
Streaming TV,No,No,Yes,Yes,No
Streaming Movies,Yes,No,Yes,Yes,No
Streaming Music,No,No,Yes,No,No
Unlimited Data,No,Yes,Yes,Yes,Yes
Contract,Month-to-Month,Month-to-Month,Month-to-Month,Month-to-Month,Month-to-Month
Paperless Billing,Yes,Yes,Yes,Yes,Yes
Payment Method,Bank Withdrawal,Credit Card,Bank Withdrawal,Bank Withdrawal,Bank Withdrawal
Monthly Charge,39.65,80.65,95.45,98.5,76.5
Total Charges,39.65,633.3,1752.55,2514.5,2868.15
Total Refunds,0.0,0.0,45.61,13.43,0.0
Total Extra Data Charges,20,0,0,0,0
Total Long Distance Charges,0.0,390.8,203.94,494.0,234.21
Total Revenue,59.65,1024.1,1910.88,2995.07,3102.36
City,Los Angeles,Los Angeles,Los Angeles,Inglewood,Whittier
Zip Code,90022,90063,90065,90303,90602
Latitude,34.02381,34.044271,34.108833,33.936291,33.972119
Longitude,-118.156582,-118.185237,-118.229715,-118.332639,-118.020188
Gender,Male,Female,Male,Female,Female
Age,78,74,71,78,80
Under 30,No,No,No,No,No
Senior Citizen,Yes,Yes,Yes,Yes,Yes
Married,No,Yes,No,Yes,Yes
Dependents,No,Yes,Yes,Yes,Yes
Number of Dependents,0,1,3,1,1
Population,68701,55668,47534,27778,26265

## DATA PREPROCESSING

In [31]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="EDA Report")
# profile

In [32]:
import pycaret

In [33]:
df['Contract'].value_counts()

Month-to-Month    3610
Two Year          1883
One Year          1550
Name: Contract, dtype: int64

In [34]:
from pycaret.classification import *
telecom = setup(df, target = 'Churn Label', ignore_features = ['Customer ID'],
                ordinal_features = {'Contract' : ['Month-to-Month' ,'One Year', 'Two Year']},
                fix_imbalance = True,
               transformation = True,#Transformation changes the shape of the distribution such that the transformed data can be represented by normal distribution
                  normalize = True, #rescale the values of numeric columns
                  handle_unknown_categorical = True, 
                  unknown_categorical_method = 'most_frequent',
                  remove_multicollinearity = True, #rop one of the two features that are highly correlated with each other
                  ignore_low_variance = True,#all categorical features with statistically insignificant variances are removed from the dataset.
                  combine_rare_levels = True,# all levels in categorical features below the threshold defined in rare_level_threshold param are combined together as a single level
                numeric_imputation='median',
                categorical_imputation='mode',)

In [35]:
catboost = create_model('gbc')

In [36]:
print(catboost)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=920, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [37]:
tuned_catboost = tune_model(catboost,optimize = 'Precision') #tuned on Precision

In [38]:
evaluate_model(tuned_catboost) #Graphical plot

Widget Javascript not detected.  It may not be installed or enabled properly.

In [39]:
final_catboost = finalize_model(tuned_catboost) # Final model 
final_catboost

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.05, loss='deviance', max_depth=7,
                           max_features='log2', max_leaf_nodes=None,
                           min_impurity_decrease=0.1, min_impurity_split=None,
                           min_samples_leaf=2, min_samples_split=5,
                           min_weight_fraction_leaf=0.0, n_estimators=190,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=920, subsample=0.2, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [40]:
predict_model(final_catboost)#final test model evaluation

,CLTV,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Contract,Monthly Charge,Total Long Distance Charges,Latitude,Longitude,Age,...,Senior Citizen_Yes,Married_No,Dependents_No,Number of Dependents_1,Number of Dependents_2,Number of Dependents_3,Number of Dependents_others_infrequent,Churn Label,Label,Score
0,-0.208831,-1.270703,1.102384,-1.327797,0.0,-1.403796,-0.855577,1.399228,-0.816123,-0.455083,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0.8387
1,0.883134,-0.075861,0.807223,0.598620,0.0,1.004172,0.725699,1.907893,-1.895434,0.387662,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,1,0.5727
2,0.189519,1.430661,0.417214,0.456948,2.0,0.070414,1.434132,-0.935810,0.685602,0.387662,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.9858
3,-1.201734,-1.374954,0.345035,-0.477043,0.0,-0.534937,-1.116681,1.135233,-0.534299,-0.518486,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,1,0.8060
4,0.446421,-0.915002,1.497351,-0.925832,0.0,0.702263,-0.046909,1.393032,-1.278308,1.576395,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1,0.7763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,0.444511,0.214552,0.951855,-1.327797,0.0,-1.424007,1.012613,0.671849,-1.190539,-0.906053,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0.8966
2109,-0.321717,0.807177,0.414023,-1.327797,1.0,-1.428044,1.132490,-0.835868,0.286914,-0.710799,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0,0,0.9667
2110,-1.021857,-1.374954,-0.657859,-0.831288,0.0,-0.677901,-1.162233,-1.509686,1.226126,-0.518486,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1,0.8747
2111,0.732328,0.737217,-0.246659,0.505974,0.0,0.280884,0.662331,0.974556,-0.706431,0.942642,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,0,0.7279
2112,1.472101,1.176224,0.948070,1.846067,2.0,0.795430,1.552375,-0.860114,1.177074,-1.439422,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0.9866

In [44]:
evaluate_model(final_catboost)

Widget Javascript not detected.  It may not be installed or enabled properly.

In [47]:
telecom

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop=['Customer ID'],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='Churn Label', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='most frequent',
                                 fill_value_categorical=None,
                                 fill_value_numerical=Non...
                 ('dummy', Dummify(target='Churn Label')),
                 ('fix_perfect', Remove_100(target='Churn Label')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'),
                 ('fix_multi',
                  Fix_multicollinearity(correlation_with_target_preference=None,
                                        correlation_with_target_threshold=0.0,
                                        target_variable='Churn Label',
                                        threshold=0.9)),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 <MLUsecase.CLASSIFICATION: 1>,
 6457    0
 421     1
 3964    0
 1188    1
 6822    0
        ..
 1561    1
 915     0
 4665    0
 94      1
 6596    0
 Name: Churn Label, Length: 4930, dtype: int64,
 True,
 True,
 False,
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7fce2c9bcee0>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7fce21e19070>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7fce21e190d0>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7fce21e192b0>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7fce21e192e0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7fce21e19850>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7fce21e19970>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7fce21e19a30>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7fce21e19cd0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7fce21e19eb0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7fce2c9b5100>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7fce2c9b5490>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7fce2c9b5610>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7fce2c9b5670>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7fce2c9b5af0>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7fce2c9a70d0>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x7fce2c9a74f0>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x7fce2c9b5b50>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x7fce2c9a7640>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x7fce2c9a7730>},
 StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7fce307f59a0>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7fce307f5430>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7fce307f5220>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7fce30861790>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7fce30861340>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7fce30804730>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7fce30804a30>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7fce30804ca0>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7fce0345be50>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7fce0345bfd0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7fce0345d220>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7fce0345d4f0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7fce2c9bde80>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7fce2c9bdf10>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7fce2c9bc3a0>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7fce2c9bc850>},
 'Churn Label',
 {'parameter': 'Hyperparameters',
  'auc': 'AUC',
  'confusion_matrix': 'Confusion Matrix',
  'threshold': 'Threshold',
  'pr': 'Precision Recall',
  'error': 'Prediction Error',
  'class_report': 'Class Report',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'calibration': 'Calibration Curve',
  'vc': 'Validation Curve',
  'dimension': 'Dimensions',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'boundary': 'Decision Boundary',
  'lift': 'Lift Chart',
  'gain': 'Gain Chart',
  'tree': 'Decision Tree'},
 False,
 False,
 Pipeline(memory=None,
          steps=[('fix_imbalance',
                  SMOTE(k_neighbors=5, n_jobs=None, random_state=920,
                        sampling_strategy='auto'))],
          verbose=False),
 0       1
 1       1
 2       1
 3       1
 4       1
        ..
 7038    0
 7039    0
 7040    0
 7041    0
 7042    0
 Name: Churn Label, Length: 7043, dtype: int64,
 [GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                             learning_rate=0.1, loss='deviance', max_depth=3,
                             max_features=None, max_leaf_nodes=None,
                             min_impurity_decrease=0.0, min_impurity_split=None,
                             min_samples_leaf=1, min_samples_split=2,
                             min_weight_fraction_leaf=0.0, n_estimators=100,
                             n_iter_no_change=None, presort='deprecated',
                             random_state=920, subsample=1.0, tol=0.0001,
                             validation_fraction=0.1, verbose=0,
                             warm_start=False),
  GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                             learning_rate=0.05, loss='deviance', max_depth=7,
                             max_features='log2', max_leaf_nodes=None,
                             min_impurity_decrease=0.1, min_impurity_split=None,
                             min_samples_leaf=2, min_samples_split=5,
                             min_weight_fraction_leaf=0.0, n_estimators=190,
                             n_iter_no_change=None, presort='deprecated',
                             random_state=920, subsample=0.2, tol=0.0001,
                             validation_fraction=0.1, verbose=0,
                             warm_start=False),
  GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                             learning_rate=0.05, loss='deviance', max_depth=7,
                             max_features='log2', max_leaf_nodes=None,
                             min_impurity_decrease=0.1, min_impurity_split=None,
                             min_samples_leaf=2, min_samples_split=5,
                             min_weight_fraction_leaf=0.0, n_estimators=190,
                             n_iter_no_change=None, presort='deprecated',
                             random_state=920, subsample=0.2, tol=0.0001,
                             validation_fraction=0.1, verbose=0,
                             warm_start=False)],
           CLTV  Tenure in Months  Avg Monthly Long Distance Charges  \
 6457 -1.558794         -1.116472                          -0.784343
 421  -1.772033         -0.342118                          -1.506514
 3964  0.268587          1.044858                           0.324570
 1188 -1.451885         -1.322688                           1.360334
 6822 -0.187207         -0.207136                          -1.506514
 ...        ...               ...                                ...
 1561 -1.163266         -1.065649                          -1.164943
 915   1.136471          0.978014                           1.507975
 4665 -0.743429         -1.167591                          -1.506514
 94   -1.747915         -0.670272                           1.489851
 6596 -0.905195         -0.670272                           0.083180

       Avg Monthly GB Download  Contract  Monthly Charge  \
 6457                -0.562004       0.0       -0.253724
 421                  0.178414       0.0       -0.843839
 3964                -1.327797       1.0       -1.415928
 1188                 1.846067       0.0       -0.413326
 6822                 1.580631       0.0       -0.601572
 ...                       ...       ...             ...
 1561                -0.925832       0.0       -0.588003
 915                  0.178414       2.0        1.096407
 4665                 0.598620       0.0       -0.519687
 94                   0.238986       0.0        0.296975
 6596                -0.394493       0.0        0.049805

       Total Long Distance Charges  Latitude  Longitude       Age  ...  \
 6457                    -1.009691  0.811774  -0.763098  0.724172  ...
 421                     -1.200379  1.154052  -1.357221  1.883477  ...
 3964                     1.209376 -1.043467   0.918138  0.501144  ...
 1188                    -0.943836 -0.829747   0.646343 -1.507272  ...
 6822                    -1.200379 -0.966976   0.634219 -1.643695  ...
 ...                           ...       ...        ...       ...  ...
 1561                    -1.094296 -0.958634   1.543145  0.888414  ...
 915                      1.651253  1.003566  -0.785116  1.315833  ...
 4665                    -1.200379  1.978567  -0.800608  0.037563  ...
 94                       0.354600  1.453653  -0.801271  1.368315  ...
 6596                    -0.260745  1.068606  -0.652765  0.501144  ...

       City_others_infrequent  Gender_Male  Under 30_No  Senior Citizen_Yes  \
 6457                     0.0          1.0          1.0                 0.0
 421                      1.0          1.0          1.0                 1.0
 3964                     0.0          1.0          1.0                 0.0
 1188                     0.0          1.0          0.0                 0.0
 6822                     0.0          0.0          0.0                 0.0
 ...                      ...          ...          ...                 ...
 1561                     0.0          1.0          1.0                 0.0
 915                      0.0          0.0          1.0                 1.0
 4665                     0.0          0.0          1.0                 0.0
 94                       0.0          1.0          1.0                 1.0
 6596                     0.0          1.0          1.0                 0.0

       Married_No  Dependents_No  Number of Dependents_1  \
 6457         1.0            1.0                     0.0
 421          0.0            0.0                     0.0
 3964         0.0            1.0                     0.0
 1188         1.0            1.0                     0.0
 6822         1.0            1.0                     0.0
 ...          ...            ...                     ...
 1561         0.0            1.0                     0.0
 915          1.0            1.0                     0.0
 4665         1.0            1.0                     0.0
 94           1.0            1.0                     0.0
 6596         0.0            1.0                     0.0

       Number of Dependents_2  Number of Dependents_3  \
 6457                     0.0                     0.0
 421                      1.0                     0.0
 3964                     0.0                     0.0
 1188                     0.0                     0.0
 6822                     0.0                     0.0
 ...                      ...                     ...
 1561                     0.0                     0.0
 915                      0.0                     0.0
 4665                     0.0                     0.0
 94                       0.0                     0.0
 6596                     0.0                     0.0

       Number of Dependents_others_infrequent
 6457                                     0.0
 421                                      0.0
 3964                                     0.0
 1188                                     0.0
 6822                                     0.0
 ...                                      ...
 1561                                     0.0
 915                                      0.0
 4665                                     0.0
 94                                       0.0
 6596                                     0.0

 [4930 rows x 114 columns],
 False,
 [<pandas.io.formats.style.Styler at 0x7fce2c9a7f10>,
        Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
  0       0.8519  0.9215  0.7442  0.7059  0.7245  0.6234  0.6238
  1       0.8256  0.8792  0.7209  0.6503  0.6838  0.5638  0.5652
  2       0.8377  0.8868  0.6899  0.6899  0.6899  0.5800  0.5800
  3       0.8458  0.8927  0.7308  0.6985  0.7143  0.6088  0.6091
  4       0.8560  0.9077  0.7231  0.7287  0.7259  0.6282  0.6282
  5       0.8418  0.8909  0.7231  0.6912  0.7068  0.5985  0.5988
  6       0.8438  0.9195  0.8000  0.6710  0.7298  0.6212  0.6259
  7       0.8398  0.8812  0.7000  0.6947  0.6973  0.5884  0.5884
  8       0.8438  0.9118  0.7231  0.6963  0.7094  0.6027  0.6029
  9       0.8682  0.9299  0.7769  0.7372  0.7566  0.6662  0.6667
  Mean    0.8454  0.9021  0.7332  0.6964  0.7138  0.6081  0.6089
  SD      0.0108  0.0173  0.0315  0.0238  0.0204  0.0273  0.0274,
        Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
  0       0.8438  0.9191  0.7209  0.6940  0.7072  0.6008  0.6010
  1       0.8114  0.8657  0.6822  0.6286  0.6543  0.5249  0.5257
  2       0.8458  0.8851  0.6977  0.7087  0.7031  0.5990  0.5991
  3       0.8458  0.8824  0.7000  0.7109  0.7054  0.6010  0.6011
  4       0.8499  0.9110  0.7077  0.7188  0.7132  0.6115  0.6116
  5       0.8337  0.8909  0.7308  0.6690  0.6985  0.5840  0.5851
  6       0.8337  0.9178  0.7846  0.6538  0.7133  0.5975  0.6024
  7       0.8215  0.8677  0.6692  0.6591  0.6641  0.5426  0.5426
  8       0.8357  0.9014  0.7000  0.6842  0.6920  0.5800  0.5801
  9       0.8540  0.9182  0.7231  0.7231  0.7231  0.6239  0.6239
  Mean    0.8375  0.8959  0.7116  0.6850  0.6974  0.5865  0.5872
  SD      0.0126  0.0195  0.0301  0.0300  0.0209  0.0291  0.0292,
                            Model  Accuracy    AUC  Recall   Prec.     F1  \
  0  Gradient Boosting Classifier    0.8822  0.948  0.8042  0.7705  0.787

      Kappa     MCC
  0  0.7056  0.7059  ],
 5,
 'box-cox',
 920,
 10,
 'a3a9',
 'lightgbm',
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
      Customer ID  Churn Label  CLTV Referred a Friend  Number of Referrals  \
 0     8779-QRDMV            1  5433                No                    0
 1     7495-OOKFY            1  5302               Yes                    1
 2     1658-BYGOY            1  3179                No                    0
 3     4598-XLKNJ            1  5337               Yes                    1
 4     4846-WHAFZ            1  2793               Yes                    1
 ...          ...          ...   ...               ...                  ...
 7038  2569-WGERO            0  5306                No                    0
 7039  6840-RESVB            0  2140               Yes                    1
 7040  2234-XADUH            0  5560               Yes                    4
 7041  4801-JZAZL            0  2793               Yes                    1
 7042  3186-AJIEK            0  5097                No                    0

       Tenure in Months    Offer Phone Service  \
 0                    1     None            No
 1                    8  Offer E           Yes
 2                   18  Offer D           Yes
 3                   25  Offer C           Yes
 4                   37  Offer C           Yes
 ...                ...      ...           ...
 7038                72     None           Yes
 7039                24  Offer C           Yes
 7040                72     None           Yes
 7041                11     None            No
 7042                66     None           Yes

       Avg Monthly Long Distance Charges Multiple Lines  ...   Latitude  \
 0                                  0.00             No  ...  34.023810
 1                                 48.85            Yes  ...  34.044271
 2                                 11.33            Yes  ...  34.108833
 3                                 19.76             No  ...  33.936291
 4                                  6.33            Yes  ...  33.972119
 ...                                 ...            ...  ...        ...
 7038                              22.77             No  ...  34.341737
 7039                              36.05            Yes  ...  34.667815
 7040                              29.66            Yes  ...  34.559882
 7041                               0.00             No  ...  34.167800
 7042                              30.96             No  ...  34.424926

        Longitude  Gender Age Under 30 Senior Citizen Married Dependents  \
 0    -118.156582    Male  78       No            Yes      No         No
 1    -118.185237  Female  74       No            Yes     Yes        Yes
 2    -118.229715    Male  71       No            Yes      No        Yes
 3    -118.332639  Female  78       No            Yes     Yes        Yes
 4    -118.020188  Female  80       No            Yes     Yes        Yes
 ...          ...     ...  ..      ...            ...     ...        ...
 7038 -116.539416  Female  30       No             No      No         No
 7039 -117.536183    Male  38       No             No     Yes        Yes
 7040 -115.637164  Female  30       No             No     Yes        Yes
 7041 -116.864330  Female  32       No             No     Yes        Yes
 7042 -117.184503    Male  44       No             No      No         No

      Number of Dependents Population
 0                       0      68701
 1                       1      55668
 2                       3      47534
 3                       1      27778